@import url('reset.css');
@import url('common.css');


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}
header .top{
    padding: 27px 0;
    letter-spacing: -1px;
    border-bottom: 1px solid #ededed;
}
header .top h1 a:first-child{
    margin-right: 28px;
}

header .top .control{
    margin-right: 20px;
}

header .top .control h2{
    margin-right: 9px;
    font-weight: 700;
}
header .top .control ul li{
    padding-left: 4px;
}

header .top .control ul li button[class]{
    padding: 0;
}
header .top .control ul li button{
    min-width: 36px;
    font-size: 14px;
    font-weight: 700;
    color: #3190ce;
    background: #fff;
    border: 1px solid #dfdfdf;
    height: 36px;
    border-radius: 36px;
    padding: 0 16px;
    box-sizing: border-box;
}
header .top .sns{
    margin-left: 10px;
    position: relative;
}
header .top .sns::before{
    content: "";
    position: absolute;
    left: -15px;
    top: 12px;
    width: 1px;
    height: 30px;
    background: #e3e3e3;
}
header .top .sns li+li{
    margin-left: 12px;
} 
header .top .sns li img{
    width: 46px;
}
header nav{
    position: relative;
    border-bottom: 1px solid #ededed;
}
header nav .gnb .main-menu > li > a{
    display: inline-block;
    padding: 15px 40px;
    font-size: 22px;
    color: #333;
    font-weight: 800;
}
header nav .gnb .main-menu > li > a:hover{
    color: #288bcc;
}
.subMenu-bg{
    position: absolute;
    top: 62px;
    width: 100%;
    height: 280px;
    background-color: #fff;
    display: none;
}
header nav .gnb .sub-menu{
    width: 100%;
    position: absolute;
    padding: 40px 0;
    z-index: 2;
    display: none;
}
header nav .gnb .sub-menu li{
    margin: 15px 40px;
}
header nav .gnb .sub-menu li a{
    display: block;
    color: #666;
    font-size: 17px;
    letter-spacing: -1px;
}
header nav .gnb .sub-menu li a:hover{
    text-decoration: underline;
    color: #288bcc;
}
header nav .util li+li{
    margin-left: 24px;
}
header nav .util li:first-child{
    position: relative;
}
header nav .util li:first-child::after{
    content: '';
    width: 1px;
    height: 12px;
    background-color: #e3e3e3;
    position: absolute;
    top: 23%;
    right: -13px;
}
header nav .util li a{
    color: #666;
}
header nav .util button{
    text-indent: -9999px;
    width: 36px;
    height: 36px;
    background: url('../images/btn_search_blue_pc.png') no-repeat 50% 50%;
    margin-left: 25px;
}

/* MAIN VISUAL */
.main-visual{
    position: relative;
    top: 165px;
    height: 520px;
}

/* FINANCIAL SERVICE */
.financial {
    position: absolute;
    top: 680px;
}
.financial .new_banner{
    background: url('../images/new_banner01.jpg') no-repeat center;
    width: 580px;
    height: 280px;
    position: relative;
}
.financial .event_banner{
    background: url('../images/event_banner01.jpg') no-repeat center;
    width: 580px;
    height: 280px;
    position: relative;
}
.financial .text_wrap{
    height: 280px;
    flex-direction: column;
    width: 50%;
    padding-left: 50%;
    color: #fff;
} 
.financial .text_wrap h5{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 15px;
}
.financial .text_wrap p{
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 1.6;
    color: rgba(255,255,255,.8);
    margin-bottom: 15px;
}


