@import url('reset.css');
@import url('common.css');


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}
header .top{
    padding: 27px 0;
    letter-spacing: -1px;
    border-bottom: 1px solid #ededed;
}
header .top h1 a:first-child{
    margin-right: 28px;
}

header .top .control{
    margin-right: 20px;
}

header .top .control h2{
    margin-right: 9px;
    font-weight: 700;
}
header .top .control ul li{
    padding-left: 4px;
}

header .top .control ul li button[class]{
    padding: 0;
}
header .top .control ul li button{
    min-width: 36px;
    font-size: 14px;
    font-weight: 700;
    color: #3190ce;
    background: #fff;
    border: 1px solid #dfdfdf;
    height: 36px;
    border-radius: 36px;
    padding: 0 16px;
    box-sizing: border-box;
}
header .top .sns{
    margin-left: 10px;
    position: relative;
}
header .top .sns::before{
    content: "";
    position: absolute;
    left: -15px;
    top: 12px;
    width: 1px;
    height: 30px;
    background: #e3e3e3;
}
header .top .sns li+li{
    margin-left: 12px;
} 
header .top .sns li img{
    width: 46px;
}
header nav{
    position: relative;
    border-bottom: 1px solid #ededed;
}
header nav .gnb .main-menu > li > a{
    display: inline-block;
    padding: 15px 40px;
    font-size: 22px;
    color: #333;
    font-weight: 800;
}
header nav .gnb .main-menu > li > a:hover{
    color: #288bcc;
}
.subMenu-bg{
    position: absolute;
    top: 62px;
    width: 100%;
    height: 280px;
    background-color: #fff;
    display: none;
}
header nav .gnb .sub-menu{
    width: 100%;
    position: absolute;
    padding: 40px 0;
    z-index: 2;
    display: none;
}
header nav .gnb .sub-menu li{
    margin: 15px 40px;
}
header nav .gnb .sub-menu li a{
    display: block;
    color: #666;
    font-size: 17px;
    letter-spacing: -1px;
}
header nav .gnb .sub-menu li a:hover{
    text-decoration: underline;
    color: #288bcc;
}

/* MAIN VISUAL */
.main-visual{
    position: relative;
    top: 165px;
}



